@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100&family=Sacramento&display=swap');

* {
    background-color: rgb(33,31,32);
}

section h2 {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 300%;
    color: rgb(245,227,235);
    text-shadow: 4px 4px 5px rgb(165,55,112);
    font-weight: 100;
    padding: 30px 0 30px 0;
}

hr {
    border: 1px solid rgb(33,31,32);
}

/* Header Style */

header {
    height: 150px;
    width: 100%;
}

header h1 {
    font-family: 'Sacramento', cursive;
    font-size: 650%;
    font-weight: 100;
    float: left;
    color: rgb(245,227,235);
    text-shadow: 5px 5px 12px rgb(165,55,112);
    padding-top: 10px;
    padding-left: 50px;

}

header h1:hover {
    color: rgb(212,174,193);
}

.rotated {
    transform: rotate(-7deg);
}

.menu {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 300%;
    padding-top: 10px;
    padding-right: 30px;
}

.menu a {
    color: rgb(245,227,235);
    text-shadow: 4px 4px 5px rgb(165,55,112);
    font-weight: 100;
}

.menu a:hover {
    color: rgb(212,174,193);
}

/* Hero Image style */

section img {
    width: 100%;
    animation-name: img-zoom;
    animation-duration: 2s;
    animation-fill-mode: backwards;
}

@keyframes img-zoom {
    from{
        transform: scale(1.015);
    }
    to{
        transform: scale(1.0);
    }
}

/* Live Shows Style */

.live {
    color: rgb(165,55,112);
    font-weight: 200;
    font-size: large;
    text-align: center;
    padding: 100px 0 0 0;
}

.live a {
    color: rgb(245,227,235);
    text-shadow: 4px 4px 5px rgb(165,55,112);
    font-weight: 100;
    font-size: large;
}

.live a:hover {
    color: rgb(212,174,193);
}

/* Media Style */

.media-section {
    text-align: center;
    padding: 100px 0 0 0;
}

.media-section iframe {
    padding: 30px 50px 30px 50px;
}

/* Sign up style */

.signup {
    text-align: center;
    padding: 100px 0 200px 0;
}

form input {
    background-color: rgb(245,227,235);
    color: rgb(165,55,112);
    font: 'Josefin Sans', sans-serif;
}

input[type=email] {
    width: 30%;
    border: 2px solid rgb(212,174,193);
}

input[type=email]:focus {
    outline: none;
}

input[type=submit] {
    width: 10%;
    border: 2px solid rgb(212,174,193);
}

input[type=submit]:hover {
    background-color: rgb(212,174,193);
}

/* Footer style */

.social-links {
    text-align: center;
}

.social-links li {
    display: inline;
}

.social-links i {
    color: rgb(245,227,235);
    text-shadow: 4px 4px 5px rgb(165,55,112);
    font-size: x-large;
    padding: 0 2% 0 2%;
}

.social-links i:hover {
    color: rgb(212,174,193);
}

a:hover, a:focus, a:active, a:visited, a:link{
    text-decoration: none;
}

/* Confirmation style */

.confirmation {
    text-align: center;
}

.return {
    text-align: center;
}

.return a {
    color: rgb(245,227,235);
    font-family: 'Josefin Sans', sans-serif;
    text-shadow: 4px 4px 5px rgb(165,55,112);
    font-weight: 100;
    font-size: large;
}

.return a:hover {
    color: rgb(212,174,193);   
}